{% set lines = item.stdout_lines %}
{% set stats = {} %}
{% for i in range(0, 8) %}
  {% set queue_key = 'queue_' ~ i %}
  {% set queue_line = '' %}
  {% for line in lines %}
    {% if line is regex_match('.*Queue\\s+' ~ i ~ '.*') %}
      {% set queue_line = line %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if queue_line %}
    {% set parts = queue_line.split() %}
    {% set dropped_value = parts[-1] | int %}
    {% set _ = stats.update({queue_key: dropped_value}) %}
  {% else %}
    {% set _ = stats.update({queue_key: 0}) %}
  {% endif %}
{% endfor %}
{{ stats | to_json }}
